body {
  margin: 0;
  padding: 0;
  font-family: "Melting Dot", sans-serif;
  src: url("/MeltingDot-Regular.otf");
  color: var(--text-color);
}

.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(
    var(--background-color-r),
    var(--background-color-g),
    var(--background-color-b),
    var(--background-opacity)
  );
  border-radius: 0 0 4vw 4vw;
}

.clock-container.standard {
  aspect-ratio: 8 / 5;
}

.clock-container.slim {
  aspect-ratio: 4 / 1;
}

.clock {
  display: flex;
  justify-content: center;
}

.standard .clock {
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(1.5vw);
  gap: 4vw;
}

.slim .clock {
  flex-direction: row;
  align-items: flex-end;
  transform: translateY(1.8vw);
  gap: 2vw;
}

.standard .date {
  font-size: 7vw;
  transform: translateX(1vw);
}

.slim .date {
  font-size: 6vw;
  transform: translateY(-1.85vw);
}

.time {
  display: flex;
}

.standard .time {
  font-size: 17vw;
}

.slim .time {
  font-size: 11vw;
}

.colon {
  opacity: max(calc(1 - var(--colon-blink-enabled)), var(--colon-opacity));
}
